beautifulsoup4
fastapi
uvicorn[standard]
requests
requests[socks]
requests[security]
cryptography
sqlalchemy[asyncio]
stem
fake-useragent
pytest
alembic
lxml
python-dotenv
psycopg
pytest-postgresql
pytest-asyncio
asyncpg
pydantic